@charset "utf-8";

body {
    background-image: url(JPG/daniel-bogni-donkey-kong-country.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFD365;
    font-family: Arial, Verdana, sans-serif;
}

main{
    padding: 3em;
}

ul{
    font-size: 1.4em;
}

p{
    background-color: #bb998198;
    color: black;
    font-weight: bold;
    text-indent: 3em;
}

h1 {
    background-color: #bb998198;
    color: #FFD365;
    text-align: center;
    line-height: 200%;
    font-family: Georgia, “Times New Roman”, serif;
    text-shadow: 3px 3px 5px #FFCE45;
    font-style: oblique;
    padding: 0.5em;
}

img {
    height: 340px;
    width: 620px;
}

figure {
    width: 620px;
    padding: 5px;
    border: 2px solid #000000;
}

figcaption {
    text-align: center;
    font-family: Papyrus, fantasy;
}

footer {
    color: #FFD365;
    font-size: .75em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    background-color: #bb998198;
    line-height: 200%;
}

section.jpg{
    display: flex;
    justify-content: center;
}

.dk{
    color: #51C4D3;
}