* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #becec4;
}

ol {
    list-style-position: inside;
}

ol li {
    padding: 8px;
    background: #688a7c;
    margin: 4px;
    border: 3px solid #000;
    border-radius: 20px;
}

h2 {
    margin: 1rem;
}

header {
    background: #688a7c;
    padding: 1rem;
    text-align: center;
    border: 3px solid #000;
    border-radius: 20px;
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 1em;
}

.container2 {
    margin-top: 2rem;
}

#my-form {
    padding: 2rem;
    background: #688a7c;
    border: 3px solid #000;
    border-radius: 20px;
}

#my-form label {
    display: block;
}

#my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
}

#my-form input[type='date'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
}

#my-form select {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
}

#my-form2 {
    padding: 2rem;
    background: #688a7c;
    border: 3px solid #000;
    border-radius: 20px;
}

#my-form2 label {
    display: block;
}

#my-form2 input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
}

.btn1 {
    display: block;
    margin: 5px 0;
    padding: 10px 15px;
    width: 100%;
    border: 0;
    background: rgb(13, 172, 13);
    color: #fff;
    border-radius: 20px;
}

.btn2 {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    border: 0;
    background: rgb(175, 19, 13);
    color: #fff;
    border-radius: 20px;
}

.btn1:hover {
    background: rgb(44, 214, 39);
}

.btn2:hover {
    background: rgb(250, 49, 42);
}

.error {
    font-size: 0.8rem;
    background: #fff;
    color: red;
}