@charset "utf-8";

body {
    font-family: 'Amita', cursive;
    background-image: url(JPG/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 4px black;
    padding: 2em;

}

p {
    font-size: 1.2em;
    text-indent: 3em;
    margin-top: 2em;
    text-align: center;

}

figure {
    width: 200px;

}

nav {
    margin-top: 1.5em;
}

.letra, ul, footer, h2 {
    color: #dcf7f3;

}

.btn {
    font-size: 18px;
    color: black;
    border: black 1px solid;
    border-radius: 10px;
    padding: 2px 10px;
}

#img {
    height: 203px;
    width: 200px;

}

#top {
    margin-top: 2em;

}

#primeiro {
    border: 1px solid white;
    padding: 4px;

}

.borda {
    border: 1px solid white;
    padding: 4px;
    float: left;

}

.borda2 {
    border: 1px solid white;
    padding: 4px;
    float: right;

}