@charset "utf-8";

body {
    background-color: #FDFFA9;
    font-size: 17px;
    
}

h1{
    line-height: 220%;
    background-color: #00C897;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 3px 3px 5px #712B75;
    text-align: center;
}

h2 {
    background-color: #00C897;
    font-weight: 600;
}

table{
    background-color: #603601;
}

fieldset{
    background-color: #4FBDBA;
    font-weight: 600;
}

footer {
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
    font-family: "Courier New", Courier, monospace;
}

th{
    font-weight: 600;
    color: #30AADD;
}

td {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
}

img.img{
    display: flex;
    justify-content: left;
}

.img {
    clip-path: circle();
}
