@charset "utf-8";

body {
    background-color: #725436;
    background-image: url(JPG/Fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 89vw 100vh;

}

header {
    background-image: url(JPG/VD.png);
    background-position: center;
    background-size: contain;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin: 6em;
    padding: 30px;
}

img {
    width: 560px;
    height: 315px;

}

fieldset {
    padding: 2em;
    margin: 4em;
    border-radius: 10px;
}

footer {
    background-color: #8C867C;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 3em;
    margin: 3.8em;
    margin-bottom: 0em;
    
}

footer::before {
    content: "2022 \00A9";
}

footer::after {
    content: "Durval Cavalcante";
}

.letra::first-letter {
    font-size: 200%;
    color: #314A20;
}

#be1::before {
    content: "Data do Primeiro Episódio:  ";
    color: #314A20;
    font-size: 1.3em;

}

#be2::before {
    content: "Rede Inglesa:  ";
    color: #314A20;
    font-size: 1.3em;

}

#be3::before {
    content: "Adaptação:  ";
    color: #314A20;
    font-size: 1.3em;

}

#be4::before {
    content: "Rede Original:  ";
    color: #314A20;
    font-size: 1.3em;

}

.btnH {
    border: 2px solid black;
    color: black;
    background-color: #C1C2BC;
    text-decoration: none;
    border-radius: 5px;
    margin: 2em;
    padding: 10px;
}

.btnD {
    border: 1px solid black;
    color: black;
    background-color: #C1C2BC;
    text-decoration: none;
    border-radius: 5px;
    padding: 1px;

}

.btn {
    border: 2px solid black;
    color: black;
    background-color: #C1C2BC;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
}

.dir {
    float: right;
    width: 39%;
    margin: 20px;


}

.esq {
    float: left;
    width: 39%;
    margin: 20px;

}

a:hover {
    background-color: #314A20;
}

#vd {
    float: left;
    margin:26px;

}

#words {
    clear: none;
    padding: 50px;
    background-color: #8C867C;
    padding: 8em;
}

.p {
    background-color: white;
    padding: 10px;
}

#quatroI {
    background-color: #8C867C;
    margin: 8em;
}

.marg {
    margin: 8em;
}
